﻿@model HelpDesk.Data.Models.Ticket

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Create";
   
    var user = await UserManager.GetUserAsync(User);
}
<div class="modal-header">
    <h4 class="modal-title badge badge-success">Create New Ticket</h4>
    <a href="#" id="btnCloseModal" class="btn btn-sm btn-danger" data-dismiss="modal">&times;</a>
  
</div>
<div class="modal-body">
    <form asp-action="Create" id="some" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">

            <input asp-for="UserId" class="form-control" value="@user.Id" hidden />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" id="subject"/>
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="text-center">
            <div class="spinner-border" role="status" style="display:none" id="loader">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control" rows="5" id="content"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Priority" class="control-label"></label>
            <select class="form-control" asp-for="Priority">
                <option>Urgent</option>
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
        <div class="form-group">

            <select class="form-control" asp-for="Response" hidden>
                <option>Ongoing</option>
                <option>Incompleted</option>
                <option>Completed</option>
            </select>
            <span asp-validation-for="Response" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserUnit" class="control-label"></label>
            <select asp-for="UserUnit" class="form-control" asp-items="ViewBag.UserUnit"></select>
        </div>
        <input asp-for="Response" class="form-control" hidden />
        <input asp-for="TreatedBy" class="form-control" hidden />

        <div class="form-group">
            <div class="checkbox">

                <input asp-for="IsDeleted" hidden />

            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">

                <input asp-for="isTreated" hidden />

            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">

                <input asp-for="notTreated" hidden />

            </div>
        </div>
        <div class="form-group">

            <input asp-for="AddedBy" class="form-control" value="@user.UserName" hidden />
            <span asp-validation-for="AddedBy" class="text-danger"></span>
        </div>
        <div class="form-group">

            <select asp-for="AssignToId" class="form-control" asp-items="ViewBag.AssignToId" hidden></select>
        </div>

            <div class="modal-footer">

                @*<button type="button" class="btn btn-rounded btn-success " data-dismiss="modal">Close</button>*@
                <button class="btn btn-rounded btn-success" type="button" onclick="CreateNew()">Submit</button>
            </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
