﻿
@{
    ViewData["Title"] = "Createe";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Createe</h2>

<!-- Button trigger modal -->
<!-- Modal -->

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...some text here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
 