﻿@model HelpDesk.Data.Models.Ticket

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Edit";
   
    var user = await UserManager.GetUserAsync(User);
}

<div class="modal-header">
    <h2 class="modal-title badge badge-success">Edit Ticket</h2>
    <a href="#" id="btnCloseModal" class="btn btn-sm btn-danger" data-dismiss="modal">&times;</a>
    @*<button class="btn btn-sm pull-right btn-danger" type="button" id="btnCloseModal" data-dismiss="modal">&times;</button>*@

</div>

<div class="modal-body">
  
    <form asp-action="Edit" id="EditForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">

            <input asp-for="UserId" class="form-control" hidden />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">

            <input asp-for="Status" class="form-control" hidden />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="row">

            <div class="form-group col-md-6">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" readonly />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>

            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Users") && !(User.IsInRole("Admin")) && !(User.IsInRole("Staff")))
            {
                <div class="form-group col-md-6">
                    <label asp-for="Response" class="control-label"></label>
                    <input asp-for="Response" class="form-control" readonly />
                    <span asp-validation-for="Response" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-md-6">
                    <label asp-for="Response" class="control-label"></label>
                    <select class="form-control" asp-for="Response">
                        <option>Ongoing</option>
                        <option>Incompleted</option>
                        <option>Completed</option>
                    </select>
                    <span asp-validation-for="Response" class="text-danger"></span>
                </div>
            }

        </div>
        <div class="text-center">
            <div class="spinner-border" role="status" style="display:none" id="loader">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control" rows="3"></textarea>

            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" readonly />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Users") && !(User.IsInRole("Admin")) && !(User.IsInRole("Staff")))
            {
                <div class="form-group col-md-6">
                    <label asp-for="TreatedBy" class="control-label"></label>
                    <input asp-for="TreatedBy" class="form-control" readonly />
                    <span asp-validation-for="TreatedBy" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-md-6">
                    <label asp-for="TreatedBy" class="control-label"></label>
                    <input asp-for="TreatedBy" class="form-control" />
                    <span asp-validation-for="TreatedBy" class="text-danger"></span>
                </div>
            }

        </div>
        <div class="form-group">
            <input asp-for="IsDeleted" hidden />
        </div>
        <div class="row">
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <div class="form-group col-md-5">
                    <div class="checkbox">
                        <label>
                            <input asp-for="isTreated" /> @Html.DisplayNameFor(model => model.isTreated)
                        </label>
                    </div>
                </div>

            }


            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <div class="form-group col-md-5">
                    <div class="checkbox">
                        <label>
                            <input asp-for="notTreated" /> @Html.DisplayNameFor(model => model.notTreated)
                        </label>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="UserUnit" class="control-label"></label>
                <select asp-for="UserUnit" class="form-control" asp-items="ViewBag.UserUnit"></select>
                <span asp-validation-for="UserUnit" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" readonly />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="AddedBy" class="control-label"></label>
                <input asp-for="AddedBy" class="form-control" readonly />
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Users") && !(User.IsInRole("Admin")) && !(User.IsInRole("Staff")))
            {
                <div class="form-group col-md-6">

                    <select asp-for="AssignToId" class="form-control" asp-items="ViewBag.AssignToId" hidden></select>
                    <span asp-validation-for="AssignToId" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-md-6">
                    <label asp-for="AssignToId" class="control-label"></label>
                    <select asp-for="AssignToId" class="form-control" asp-items="ViewBag.AssignToId"></select>
                    <span asp-validation-for="AssignToId" class="text-danger"></span>
                </div>
            }

        </div>
        <div class="modal-footer">

            @*@if (SignInManager.IsSignedIn(User) && User.IsInRole("Users") && !(User.IsInRole("Admin")) && !(User.IsInRole("Staff")))
            {
                <a asp-action="index" asp-controller="Tickets" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
            }


            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <a asp-action="TicketAdmin" asp-controller="Tickets" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
            }

            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Staff"))
            {
                <a asp-action="Assignee" asp-controller="Tickets" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
            }*@
            <button class="btn btn-rounded btn-success" type="button" onclick="EditEmp(@Model.Id)">Submit</button>
        </div>
    </form>
    
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
