﻿@model IEnumerable<HelpDesk.Data.Models.Ticket>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var user = await UserManager.GetUserAsync(User);
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
<link href="~/js/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" />
<h2 class="text-center text-primary">All Tickets</h2>

<br />
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex align-items-center mb-4">
                    <h4 class="card-title mb-sm-0">Tickets</h4>
                    @*<a href="#" class="text-dark ml-auto mb-3 mb-sm-0"> View all Tickets</a>*@
                    <a href="javascript:location.reload(true)" class="btn btn-success text-dark ml-auto mb-3 mb-sm-0">Refresh Tickets</a>


                </div>
                <div class="table-responsive border rounded p-1">
                    
                    <table class="table display table-responsive" id="customerDatatables">
                        <thead class="thead-light">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Content)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Response)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Priority)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.AddedBy)
                                </th>
                                <th>
                                    Assigned To
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Units)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                    <td>
                                        @if (item.isTreated == true)
                                        {
                                            <label class="badge badge-info">Solved</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-warning">Pending</label>
                                        }
                                    </td>
                                    <td>
                                        <label class="badge badge-info">@Html.DisplayFor(modelItem => item.Response)</label>
                                    </td>
                                    <td>
                                        <label class="badge badge-danger">@Html.DisplayFor(modelItem => item.Priority)</label>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Units.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<br />
<br />


@section Scripts{
    <script src="~/js/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
    <script type="text/javascript">

    </script>
}
