﻿@model IEnumerable<HelpDesk.Data.Models.Ticket>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "TicketAdmin";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var user = await UserManager.GetUserAsync(User);
}
<link href="~/js/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<h2 class="text-center text-primary">All Tickets</h2>

<p>
    <a class="btn btn-md btn-success" data-toggle="modal" onclick="RenderActions('/Tickets/Create')" data-target="#modalCreate"> Create Ticket</a><br /><br />

</p>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex align-items-center mb-4">
                    <h4 class="card-title mb-sm-0">Tickets</h4>
                    <a href="javascript:location.reload(true)" class="btn btn-success text-dark ml-auto mb-3 mb-sm-0">Refresh Tickets</a>
                </div>
                <div class="table-responsive border rounded p-1">

                    <table class="table display table-responsive" id="customerDatatable">
                        <thead class="thead-light">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Content)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Response)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Priority)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.AddedBy)
                                </th>
                                <th>
                                    Assigned To
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Units)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                    <td>
                                        @if (item.isTreated == true)
                                        {
                                            <label class="badge badge-info">Solved</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-warning">Pending</label>
                                        }
                                    </td>
                                    <td>
                                        <label class="badge badge-info">@Html.DisplayFor(modelItem => item.Response)</label>
                                    </td>
                                    <td>
                                        <label class="badge badge-danger">@Html.DisplayFor(modelItem => item.Priority)</label>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Units.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td>
                                        @if (item.isTreated == false)
                                        {
                                        <a data-toggle="modal" onclick="RenderActions('/Tickets/Edit/' + @item.Id)" data-target="#modalCreate" class="btn-sm btn-info">Edit</a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-success">Details</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-danger">Delete</a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<br />
<br />
<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div id="OpenDialog" class="">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
}
