﻿@page
@model RegisterModel
@using HelpDesk.Data.Models
@{
    ViewData["Title"] = "Register";
    Layout = "";
}

@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Companyname"></label>
                <input asp-for="Input.Companyname" class="form-control" />
                <span asp-validation-for="Input.Companyname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="col-5">
                    <input type="hidden" name="rdApplicationUserRole" value="@SD.User" />

                </div>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Novo Help</title>
    <!-- plugins:css -->
    <link href="~/Helpdeskapp/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Helpdeskapp/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Helpdeskapp/vendors/css/vendor.bundle.base.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="../../vendors/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="../../vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">*@
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link href="~/Helpdeskapp/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Helpdeskapp/images/icon.png" />
    

    <!--<link rel="stylesheet" href="../../css/style.css"--> <!-- End layout styles -->
    <!--<link rel="shortcut icon" href="../../images/favicon.png" />-->
</head>
<body style="background-image: url('~/Helpdeskapp/images/wallpaper.jpeg');">
  
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth" style=" background-color: forestgreen; background-image: url(https://source.unsplash.com/random/1920x1080/?nature,water)">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                @*<img src="../../images/logo.svg">*@
                                <img src="~/Helpdeskapp/images/logo.svg" />
                            </div>
                            <h4>New here?</h4>
                            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                            <form class="pt-3" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.FirstName"></label>
                                    <input asp-for="Input.FirstName" class="form-control" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.LastName"></label>
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Input.Companyname"></label>
                                    <input asp-for="Input.Companyname" class="form-control" />
                                    <span asp-validation-for="Input.Companyname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.PhoneNumber"></label>
                                    <input asp-for="Input.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3"></div>
                                    <div class="col-5">
                                        <input type="hidden" name="rdApplicationUserRole" value="@SD.User" />

                                    </div>
                                </div>

                                <div class="mt-3">
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>

                            </form>
                            <hr />
                            <div class="text-center mt-4 font-weight-light">
                                Already have an account? <a asp-page="./Login" class="text-primary">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Helpdeskapp/vendors/js/vendor.bundle.base.js"></script>
    @*<script src="../../vendors/js/vendor.bundle.base.js"></script>*@
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Helpdeskapp/js/off-canvas.js"></script>
    <script src="~/Helpdeskapp/js/misc.js"></script>
    @*<script src="../../js/off-canvas.js"></script>
        <script src="../../js/misc.js"></script>*@
    <!-- endinject -->
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
