﻿@model HelpDesk.Data.Models.Units

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<h3 class="text-center text-danger">Are you sure you want to delete this Unit?</h3>
<div>

    <hr />
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AddedBy"></label>
            </div>
            <div class="col-8">
                <input asp-for="AddedBy" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CreateDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="CreateDate" readonly class="form-control" />
            </div>
        </div>

    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-success" /> 
        <a asp-action="Index" class="btn btn-success">Back</a>
    </form>
</div>
