﻿@model HelpDesk.Data.Models.Units

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Unit Details</h2>

<hr />
<div class="col-8">
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Name"></label>
        </div>
        <div class="col-8">
            <input asp-for="Name" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="AddedBy"></label>
        </div>
        <div class="col-8">
            <input asp-for="AddedBy" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="CreateDate"></label>
        </div>
        <div class="col-8">
            <input asp-for="CreateDate" readonly class="form-control" />
        </div>
    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a> 
    <a asp-action="Index" class="btn btn-success">Back</a>
</div>
