﻿@model IEnumerable<HelpDesk.Data.Models.Ticket>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Info";
    var user = await UserManager.GetUserAsync(User);
}
<link href="~/js/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<h2 class="text-success text-center">Ticket Details</h2>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive border rounded p-1">

                    <table class="table display table-responsive" id="customerDatatable">
                        <thead class="thead-light">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Content)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Response)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Priority)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.AddedBy)
                                </th>
                                <th>
                                    Assigned To
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Units)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                    <td>
                                        @if (item.isTreated == true)
                                        {
                                            <label class="badge badge-info">Solved</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-warning">Pending</label>
                                        }
                                    </td>
                                    <td>
                                        <label class="badge badge-info">@Html.DisplayFor(modelItem => item.Response)</label>
                                    </td>
                                    <td>
                                        <label class="badge badge-danger">@Html.DisplayFor(modelItem => item.Priority)</label>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Units.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<hr />
<div>
    <a asp-action="Index" class="btn btn-dark">Back</a>
</div>
@section Scripts{
    <script src="~/js/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
}