﻿@model CreateRoleViewModel

@{ ViewData["Title"] = "Create New Role"; }


<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <h4>Create role.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-success">Create</button>
            <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}