﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var user = await UserManager.GetUserAsync(User);
}

<h2 class="text-success text-center">User Information</h2>
<hr />
<div class="row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label><b>UserName</b></label>
            </div>
            <div class="col-8">
                <input readonly class="form-control" value="@user.UserName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label><b>Fullname</b></label>
            </div>
            <div class="col-8">
                <input readonly class="form-control" value="@user.FirstName @user.LastName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label><b>Company</b></label>
            </div>
            <div class="col-8">
                <input readonly class="form-control" value="@user.Companyname" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label><b>Phone No</b></label>
            </div>
            <div class="col-8">
                <input readonly class="form-control" value="@user.PhoneNumber" />
            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@user.Id" class="btn-sm btn-success">Edit</a>
        </div>

    </div>
    <div class="col-1">

    </div>
    <div class="col-3">
        <img src="~/Helpdeskapp/images/faces/dummy.jpg" class="rounded-circle" style="border-radius:5px; border:1px solid #bbb9b9; width:100%;" asp-append-version="true" />
    </div>
</div>

