﻿@model HelpDesk.Data.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}



<div>
    <h4>User Details</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" readonly />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" readonly />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <input asp-for="Companyname" class="form-control" hidden />
                <input asp-for="CreatedOn" class="form-control" hidden />
                <input asp-for="UserName" class="form-control" hidden />
                <input asp-for="NormalizedUserName" class="form-control" hidden />
                <input asp-for="Email" class="form-control" hidden />
                <input asp-for="NormalizedEmail" class="form-control" hidden />
                <input asp-for="EmailConfirmed" class="form-control" hidden />
                <input asp-for="PasswordHash" class="form-control" hidden />
                <input asp-for="SecurityStamp" class="form-control" hidden />
                <input asp-for="ConcurrencyStamp" class="form-control" hidden />
                <input asp-for="PhoneNumberConfirmed" class="form-control" hidden />
                <input asp-for="TwoFactorEnabled" class="form-control" hidden />
                <input asp-for="LockoutEnd" class="form-control" hidden />
                <input asp-for="LockoutEnabled" class="form-control" hidden />
                <input asp-for="AccessFailedCount" class="form-control" hidden />
                <input asp-for="LockoutEnabled" class="form-control" hidden />






                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-action="Details" asp-controller="Role" class="btn btn-success float-right">Back</a>
                </div>
            </form>
        </div>
    </div>
   
</div>

