﻿@model IEnumerable<ApplicationRole>




@if (Model.Any())
{
<a class="btn btn-primary" asp-controller="role" asp-action="createrole">
    Create Role
</a><br /><br /> foreach (var role in Model)
                {


<div class="card mb-3">
    <div class="card-header">
        Role id : @role.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">
            @role.Name
        </h5>

    </div>
    <div class="card-footer">
        <a class="btn btn-primary" asp-controller="role" asp-action="editrole" asp-route-id="@role.Id">Edit</a>
        <a class="btn btn-danger" asp-controller="role" asp-action="createrole">Delete</a>
    </div>
</div> }
}
else
{
<div class="card">
    <div class="card-header">
        No Roles reated yet
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Create Role Below
        </h5>
        <a class="btn btn-primary" asp-controller="role" asp-action="createrole">
            Create Role
        </a>
    </div>
</div>}
