﻿
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="col-md-6 offset-md-3 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Create Ticket</h4>
            <p class="card-description"> Info </p>
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Number</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Query</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
<br />
